/exe
/__pycache__
/rapports/*.txt
/rapports/*.csv
/Documentation/~$Controleur.xlsx
/Commande/tests
/Commande/tests/*.XLSX
/livrable/*
dist
exe2
exe
/Documentation/F40593131218_C3A.XLSX
__pycache__
/Documentation/~$Variables de configuration XML.xlsx
